*~
*.pyc
\#*\#
.\#*
/cbers_2_stac.egg-info/
/.mypy_cache/
/.coverage
/coverage.xml
/.tox/
/.env
/cdk.out/
/stack/common.zip
/stack/static_catalog_structure/
/test/fixtures/catalog_structure/
/test/common.zip
/test/stac_endpoint.zip
/test/elasticsearch.zip
/.dir-locals.el
