*~
*.pyc
\#*\#
.\#*
/cbers_2_stac.egg-info/
/.mypy_cache/
/.coverage
/coverage.xml
/.tox/
/.env
/cdk.out/
/stack/common.zip
/cbers2stac/process_new_scene_queue/bin/
/cbers2stac/process_new_scene_queue/utm-0.7.0.dist-info/
/cbers2stac/process_new_scene_queue/utm/
/stack/static_catalog_structure/
/test/catalog_structure/
/test/fixtures/catalog_structure/
/test/fixtures/test_update_catalog_or_collection/
/cbers2stac/elasticsearch/aws_requests_auth/
/cbers2stac/elasticsearch/bin/
/cbers2stac/elasticsearch/certifi/
/cbers2stac/elasticsearch/chardet/
/cbers2stac/elasticsearch/dateutil/
/cbers2stac/elasticsearch/elasticsearch/
/cbers2stac/elasticsearch/elasticsearch_dsl/
/cbers2stac/elasticsearch/idna/
/cbers2stac/elasticsearch/requests/
/cbers2stac/elasticsearch/six.py
/cbers2stac/elasticsearch/urllib3/
