*~
*.pyc
\#*\#
.\#*
/cbers_2_stac.egg-info/
/.mypy_cache/
/.coverage
/coverage.xml
/.tox/
/.env
/cdk.out/
/stack/common.zip
/cbers2stac/process_new_scene_queue/bin/
/cbers2stac/process_new_scene_queue/utm-0.7.0.dist-info/
/cbers2stac/process_new_scene_queue/utm/
/stack/static_catalog_structure/
/test/catalog_structure/
/test/fixtures/catalog_structure/
/test/fixtures/test_update_catalog_or_collection/
