# elasticsearch 7.13.4 requires urllib3<2,>=1.21.1
urllib3<2,>=1.21.1
# AWS
aws-cdk-lib>=2.130.0
aws-cdk.asset-awscli-v1>=2.2.202
aws-cdk.asset-kubectl-v20>=2.1.2
aws-cdk.asset-node-proxy-agent-v6>=2.0.1
awscli>=1.32.48
awscli-local>=0.22.0
boto3>=1.34.48
botocore>=1.34.48
setuptools
# Fixing to keep in sync with tox and
# pre-commit
black==26.3.1
isort==8.0.1
pydocstyle==5.1.1
mypy==1.9.0